@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

body {
  font-family: 'Noto Sans Serif', sans-serif;
}

.MuiBox-root .pathElement {
    margin: 0;
    padding: 0 10px 0 10px;
    text-transform: none;
    display: flex;
    text-align: left;
    height: 2rem;
    align-items: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 0.875rem
}

.MuiBox-root .pathButton {
    text-transform: none;
    text-decoration: underline;
}

.MuiBox-root .pathButton:disabled {  /* overrides transparency from Mui-disabled */
    color: black;
}

.pageImage {
    position: relative;
    height: 80vh;
    width: 68vw;
    overflow: scroll;
    border: 1px solid grey;
}

.MuiButton-contained.menuFunctionButton {
    border: 1px solid black;
    height: 2rem;
    text-transform: none;
    margin-right: 1rem;
    font-size: 0.75rem;
}

.menuFunctionButton.noMargin {
    margin-right: 0
}

.page-div {
  margin-top: 0.5rem;
  text-align: center;
}

.footer-div {
  margin-top: 0.5rem;
  text-align: center;
}

.loading-wheel {
  display: none;
}

span {
  font-size: 0.9rem;
  white-space: pre-line;
}

.no-file {
  margin-left: 1rem;
}

.link:hover {
  cursor: pointer;
}

.modal-image {
  max-width: 90vw;
  max-height: 90vh;
  transition: transform 0.5s;
}

.modal-image:hover {
  transform: scale(1.5);
}

img:hover {
  transition: all 0.3s ease-in-out;
}

.fancy-font {
  font-family: 'Cinzel', serif;
  font-weight: 500;
  margin: 0px;
}

.editorSelector {
  border: 1px solid black;
  border-bottom: none;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  cursor: pointer;
}
