@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'Noto Sans', 'Arial', sans-serif;
}

.MuiBox-root .pathElement {
    margin: 0;
    padding: 0 10px 0 10px;
    text-transform: none;
    display: flex;
    text-align: left;
    height: 2rem;
    align-items: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 0.875rem
}

.MuiBox-root .pathButton {
    text-transform: none;
    text-decoration: underline;
}

.MuiBox-root .pathButton:disabled {  /* overrides transparency from Mui-disabled */
    color: black;
}

.actionButton {
    color: #1976d2;
}

.actionButton.altColor {
    color: #19a942;
}

.negActionButton {
    color: #f00;
}

.MuiButton-contained.adminMenuButton {
    border: 1px solid black;
    text-transform: none;
    font-size: 2rem;
}

.MuiButton-contained.menuFunctionButton {
    border: 1px solid black;
    height: 2rem;
    text-transform: none;
    margin-right: 1rem;
    width: fit-content;
}

.menuFunctionButton.noMarginRight {
    margin-right: 0
}

.MuiButton-contained.menuButton {
    border: 1px solid black;
    text-transform: none;
    font-size: 1rem;
    height: 2rem;
    width: fit-content;
}

.fileIcon {
    font-size: 25px;
    margin: 0.5rem 0.5rem 0.5rem 0.2rem;  /* 0.2rem left */
}

.MuiButton-text.resultButton {
    padding: 0;
    justify-content: left;
    text-transform: none;
}

.pageImageContainer {
    display: flex;
    position: relative;
    height: 80vh;
    width: 100%;
    overflow: scroll;
    border: 1px solid grey;
}

.pageImageContainer .pageImage {  /* pageImage within a pageImageContainer */
    display: block;
    margin: auto;
    border: 1px solid black;
    object-fit: contain;
}

.MuiFormControl-root.simpleInput {
    margin-bottom: 0.3rem;
    margin-top: 0.5rem;
}

.MuiFormControl-root.simpleDropdown {
    margin-bottom: 0.3rem;
    margin-top: 0.5rem;
    width: 100%;
}

.MuiFormControl-root.hourInput {
    width: 6rem;
}

.MuiFormControl-root.borderTop {
    padding-top: 0.5rem;
    border-top: 1px solid black;
}

/*
  File Explorer table formatting
*/
.MuiTableRow-root.explorerRow {
    height: 4rem;
}

.MuiTableCell-root.explorerCell {
    border-left: 1px solid #aaa;
}

.MuiTableCell-root.MuiTableCell-body.explorerCell {
    padding-top: 0;
    padding-bottom: 0;
}

.explorerCell.errorCell {
    background-color: #f44336;
}

.explorerCell.infoCell {
    background-color: #ffed7a;
}

.explorerCell.successCell {
    background-color: #19a942;
}

.explorerCell.waitingCell {
    background-color: #a6a6a6;
}

.stateCell .stateBox {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.MuiTableCell-root.nameCell {
    width: 30%;
}

.MuiTableCell-root.staticNameCell {
    width: 38%;
}

.MuiTableCell-root.actionsCell {
    width: 20%;
    text-align: center;
}

.MuiTableCell-root.staticActionsCell {
    width: 20%;
    text-align: center;
}

.MuiTableCell-root.stateCell {
    width: 8%;
    text-align: center;
}

.MuiTableCell-root.dateCreatedCell {
    width: 15%;
    text-align: center;
}

.MuiTableCell-root.staticDateCreatedCell {
    width: 15%;
    text-align: center;
}

.MuiTableCell-root.detailsCell {
    width: 20%;
    text-align: center;
}

.MuiTableCell-root.staticDetailsCell {
    width: 20%;
    text-align: center;
}

.MuiTableCell-root.sizeCell {
    width: 12%;
    text-align: center;
}

.MuiTableCell-root.staticSizeCell {
    width: 12%;
    text-align: center;
}

.page-div {
  margin-top: 0.5rem;
  text-align: center;
}

.footer-div {
  margin-top: 0.5rem;
  text-align: center;
}

.loading-wheel {
  display: none;
}

span {
  font-size: 1rem;
  white-space: pre-line;
}

.no-file {
  margin-left: 1rem;
}

.link:hover {
  cursor: pointer;
}

.modal-image {
  max-width: 90vw;
  max-height: 90vh;
  transition: transform 0.5s;
}

.modal-image:hover {
  transform: scale(1.5);
}

img:hover {
  transition: all 0.3s ease-in-out;
}

.fancy-font {
  font-family: 'Cinzel', serif;
  font-weight: 500;
  margin: 0px;
}

.editorSelector {
  border: 1px solid black;
  border-bottom: none;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  cursor: pointer;
}
