body {
  font-family: 'Noto Sans Serif', sans-serif;
}

.page-div {
  margin-top: 0.5rem;
  text-align: center;
}

.footer-div {
  margin-top: 0.5rem;
  text-align: center;
}

img {
  margin-top: 1rem;
  height: 5rem;
}

.loading-wheel {
  display: none;
}

.pageImage {
  border: 1px solid grey;
  margin-top: 0rem;
  margin-right: 1.5rem;
  height: 55vh;
}

span {
  font-size: 0.9rem;
  white-space: pre-line;
}

.no-file {
  margin-left: 1rem;
}

.link:hover {
  cursor: pointer;
}